input{
    background: bottom;
    color: aqua;
}

textarea{
    margin-bottom: 1rem;
    background: #941d1d;
    color: white;

}


  
input[type="date"],
input[type="time"] {
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 8px 38px 8px 29px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #214d61;
    color: aliceblue;
}

.escribe-text{
    font-size: 15px;
    line-height: 1.235364;
    margin-left: 7%;
    font-weight: 500;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 2rem;
}

.btn{
    margin-top: 10px;
}

.formulario-form {
    margin: auto;
}

.form-container {
    margin-top: 15px;
}


  
