.hello{
    display: flex;
    justify-content: center;
    height: 5vh;
    margin: auto;
    font-family: "inter", sans-serif;
    color: black;
    margin-left: 1rem;
    background-image: url(../assets/Images/friends.webp);
    background-size: cover;
    font-size: 2rem;
    padding-top: 0px;
}