/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN de RESET*/


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/Images/valiant-made-zBkVp3E2CnE-unsplash.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


nav,
.user {
	display: flex;
    margin-right: 150px; 
	align-items: center;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
}



header{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	color: #fff;
}

.container-meetnow{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper h1{
    color: #fff;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 49px 61px;
    width: 100%;
    max-width: 370px;
    margin-top: 11%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}


.input-transparent {                  /* transparencia a las casillas del formulario*/
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
  }
  

label {
    font-size: 14px;
    color: #eee6e6;
    margin-bottom: 5px;
}

.login-btn,
.register-btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #3f61ea;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #304fad;
}

.p-password {
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.p-text {
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

.sc-gDyJDg.lcjrCd {
    display: flex;
    margin-top: 10px;
}

.button-apple,
.button-playstore{
    border: none;
    cursor: pointer;
    padding: 13.5px 16px;
    border-radius: 13.6px;
    /*line-height: 1.25rem; ajustar tamaño de iconos-botones*/ 
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: "LaNord Medium", sans-serif;
    text-decoration: none;
    outline-color: rgb(174, 179, 236);
    color: rgb(16, 15, 10);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}



.sc-gDyJDg.lcjrCd{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}
@media (min-width: 900px) {
    .sc-gDyJDg.lcjrCd {
        margin-top: 20px;
    }
}

.left-section{
    display: inline-block;
    margin: auto;
    color: #fff;

}

@media only screen and (max-width: 1075px) {
    .left-section span{
        font-size: 25px;
        line-height: 28px;
        width: auto;
    }
}
