

.card {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    height: 50;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    color:#FFE98F;
    background-color:#7C1E96;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.0rem; 
}

.card:hover {
    transform: scale(1.05);
}
.card-title{
    color: #A6A6A6;
    font-size: xx-large;
    font-weight: bolder;
}
.card-image {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}
.card-paragraph {
    margin-left: 15px;
    
}


.card-paragraph strong {
    font-weight:900;
    color: #A6A6A6;

}

.card-paragraph p {

    margin-top: 5px;

}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    margin: 0 ;
}

.wrapped-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}


  .card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
    gap: 16px; /* Espacio entre las tarjetas */
    margin-top: 5px;
}

.card-container .card {
    flex: 1 1 calc(33.333% - 16px); /* Tres tarjetas por fila con espacio entre ellas */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: purple;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .card-container .card {
        flex: 1 1 calc(50% - 16px); /* Dos tarjetas por fila en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .card-container .card {
        flex: 1 1 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
    }
}