.menu {
    list-style: none;
    display: flex;
    margin-right: 10px;
    width: 500px;

}

.menu li {
    margin-left: 5px;
    margin-right: 25px;
}

.menu li a:hover {
    color: #7C1E96;
}

.menu {
    @media(max-width: 600px) {
        display: none;
        
    }
}

.menu li.active {
    margin-top: 15px;
}

nav {
    margin-right: 0px !important;
}


@keyframes slideInFromLeft {
    from {
        left: -100%; /* Comienza fuera de la pantalla */
    }
    to {
        left: 0; /* Termina alineado con el lado izquierdo */
    }
}

.links.active{
    width: 100%;
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000000;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: slideInFromLeft 0.5s ease forwards; /* Aplica la animación */
    a {
        color:#333;
    }


}

/*.bg-reponsive {
    position: absolute;
    background-color: 333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}