.display{
  display: flex;
    flex-wrap: nowrap;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.3333733333;
    padding-top: 20px;
}
.h3-id{
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.333373;
    margin-bottom: 0.8em;
    margin-inline-end: 20px;
    outline: unset;
}
.display h3{
  color: rgb(224, 229, 233);
}
.display img{
  margin-bottom: 1rem;
}

.display strong{
  color: rgb(17, 93, 236);
}