.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color: grey;
}

.logo {
    margin-left: 25px;
    font-size: 1.5rem;
}