$colorUno: #FFE98F;
$colorDos: #7C1E96;
$colorTres: #A6A6A6;

@mixin section{
    color: $colorTres;
    font-family:'Ubuntu'

}




.footer{
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: flex-start;

    
    .footer-section{

        color: $colorTres;

        img.footer-logo {
             height: 200px;
             width: 200px;
         }
    }




}